body {
    background-color: white;
    margin: 0;
    padding-top: 0px;
}

a.logo {
    max-width: 20px;
    width: 20px;
}

ul.mainnav {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1; /* z index greater than the div with absolute position since
  the navbar needs to be on top of everything else */
  opacity: 0.95;


  overflow: hidden;
  background-color: #333;
  top: 0;
  position: fixed;
	width: 100%;
  -moz-transition: height .4s ease-in-out;
  -o-transition: height .4s ease-in-out;
  -webkit-transition: height .4s ease-in-out;
  transition: height .4s ease-in-out;

}

ul.mainnav li {float: left;}

ul.mainnav li a{
  padding-left: 18px;
  color: black;
  height: 20px;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  background-color: #FAE6FA;

  font-family: "Montserrat", sans-serif;
}
ul.mainnav li a:hover {background-color: #c6cde3;}

ul.mainnav li.right-items {
}

ul.mainnav li.right-items a{
  color: white;
  background-color: #333;
}

ul.mainnav li.right-items a:hover {background-color: #555;}

ul.mainnav li.right-items a.dropdown:hover {background-color: #666;}

ul.mainnav li.hidden-items{
  display:none;
}
ul.mainnav li.hidden-items a{
  width:100%;
  color: white;
  background-color: #333;
}
ul.mainnav li.hidden-items a:hover {background-color: #555;}
ul.mainnav li.hidden-items a.dropdown:hover {background-color: #666;}

ul.mainnav li.icon a{
    margin-right: 0;
    color: white;
    height: 20px;
    display: inline-block;
    padding: 16px;
    text-decoration: none;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    background-color: #333;
}

ul.mainnav li.icon a:hover {background-color: #555;}

ul.mainnav li.icon {display: none;}

h1, p{text-align: center;}

.section {
  width: 100%;
  height: calc(100vh - 20vh);
  padding-top:20vh;
}

.section-home{
  width: 100%;
  height: 100vh;
}

.section-contact{
  background-color: lightblue;
  display:block;
  overflow:auto;
  padding-top:10px;
}


.anchor{
  display: block;
  height: 0px; /*same height as header*/
  visibility: hidden;
}

.nav-right{
  float:right;
}






@media screen and (max-width:680px) {
  ul.mainnav.initial li.right-items{
    display:none;
  }

  ul.mainnav li.icon {
    float: right;
    display: inline-block;
  }
  /* Hidden Items */
  ul.mainnav {
    position: fixed;
  }

  ul.mainnav li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.mainnav div{
    width:100%;
  }

  ul.mainnav li.right-items {
    float: none;
    display: inline;
    opacity: 0;
    height: 0;

    animation-name: hide-frames;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  ul.mainnav li.right-items > a {
    opacity: 0;
    height: 0;

    animation-name: hide-frames;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  ul.mainnav li a {
    display: block;

  }



  ul.mainnav li a.dropdown {
    background-color: #555;
    text-align:center;
  }

  body {
    padding-top: 0px;
  }

  body span {
    height: 0px; /*same height as header*/
  }

  /* Hidden Items End */

  ul.mainnav.show-items {
    position: fixed;
  }

  ul.mainnav.show-items li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.mainnav.show-items div{
    width:100%;
  }

  ul.mainnav.show-items li.right-items {
    float: none;
    display: inline;
    opacity: 0;
    height: 0;

    animation-name: show-frames;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  ul.mainnav.show-items li.right-items > a {
    opacity: 0;
    height: 0;

    animation-name: show-frames;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  ul.mainnav.show-items li a {
    display: block;

  }
  
  ul.mainnav.show-items li a.dropdown {
    background-color: #555;
    text-align:center;
  }

  body.show-items {
    padding-top: 0px;
  }

  body.show-items span {
    height: 0px; /*same height as header*/
  }

}

@keyframes show-frames{
  0%{
    opacity: 0;
    height:0;
    padding: 0;

  }
  40%{
    opacity: 0;
  }
  100%{
    opacity: 0.95;
    height:20px;
  }

}

@keyframes hide-frames{
  0%{
    opacity: 0.95;
    height:20px;
  }
  60%{
    opacity: 0;
  }
  100%{

    opacity: 0;
    height:0;
    padding: 0;
  }

}



canvas {
  background:black;
  /*border: #000 1px solid;*/
}
