/* Documentation
  1.0 - Navbar
  2.0 - Section
  3.0 - Screen Width Responsive
  4.0 - Canvas
  5.0 - Animated Links
  6.0 - Interests
  7.0 - Portfolio Grid
*/


html, body {
    background-color: #1A3F5C;
    margin: 0;
    padding-top: 0px;
}


/* 

1.0 - Navbar

*/
ul.mainnav {
  list-style: none;
  padding: 0;
  top: 0;
  z-index: 10;
  opacity: 0.95;
  border-radius: 5px;
  overflow: hidden;
  background-color: #191919;
  position: fixed;
  margin: 0 2.5%;
  width: 95%;
  box-shadow: 0px 5px 10px black;
}

a.logo {
    max-width: 20px;
    width: 20px;
}

ul.mainnav li {float: left;}

ul.mainnav li a{
  padding-left: 18px;
  color: white;
  height: 20px;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  background-color: #003FBF;



  font-family: "Montserrat", sans-serif;
}
ul.mainnav li a:hover {background-color: #82CAFA;}

ul.mainnav li.right-items a{color: white; background-color: #191919;}

ul.mainnav li.right-items a:hover {background-color: #555;}

ul.mainnav li.right-items a.dropdown:hover {background-color: #666;}

ul.mainnav li.hidden-items{display:none;}

ul.mainnav li.hidden-items a{
  width:100%;
  color: white;
  background-color: #191919;
}

ul.mainnav li.hidden-items a:hover {background-color: #555;}
ul.mainnav li.hidden-items a.dropdown:hover {background-color: #666;}

ul.mainnav li.icon a{
    margin-right: 0;
    color: white;
    height: 20px;
    display: inline-block;
    padding: 16px;
    text-decoration: none;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    background-color: #191919;
}

ul.mainnav li.icon a:hover {background-color: #555;}

ul.mainnav li.icon {display: none;}



/* 

2.0 - Section  

*/
.section {
  width: 100vw;
  height: calc(100vh - 20vh);
  padding-top:20vh;

}

.section-home{
  width: 100%;
  height: 100vh;
}

.section-home div h1::selection { background: transparent;}
.section-home div h2::selection { background: transparent;}
.section-home div p::selection { background: transparent;}

.about-container{
  width:100%;


  padding-bottom: 40px;
  background: #1A3F5C;
  background: -webkit-linear-gradient(#0B1C02, #1A3F5C);
  background: -o-linear-gradient(#0B1C02, #1A3F5C);
  background: -moz-linear-gradient(#0B1C02, #1A3F5C);
  background: linear-gradient(#0B1C02, #1A3F5C);
}

.section-about{
  margin:auto;
  z-index:1;
  max-width: 1200px;
  width: 90%;
  padding-bottom: 50px;
  padding-top:50px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px black;
  background: white; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(#112D03, #002F2F);
  background: -o-linear-gradient(#112D03, #002F2F);
  background: -moz-linear-gradient(#112D03, #002F2F);
  background: linear-gradient(#112D03, #002F2F);*/
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.section-projects{
  width: 100%;
  padding-top:90px;
  padding-bottom: 90px;

  background: #1A3F5C;
}

.section-contact{
  background-color: #0E2333;
  display:block;
  overflow:auto;
  padding-bottom: 10vh;
  padding-top: 90px;
}

.hometext {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color:white;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.26);
}


.abouttext {
  text-align: left;
  padding: 0px;
  color:Black;
  font-family: "Montserrat", sans-serif;
}

.abt_Label{
  display:inline-block;
  min-width: 180px;
  float:left;
  color: #555;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}


.abt_Content{
  display:inline-block;
  color:gray;
  font-size: 14px;
  min-width:140px;
}

p.skillset{
  padding-left:30px;

  margin-top:0px;
  margin-bottom:0px;
  vertical-align: center;
  text-align:center;
  
}

.skill{
  margin: 2px 0px 2px 0px;
  padding:3px 7px 3px 7px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #1A3F5C;
  border-radius: 5px;

  display:inline-block;
}

.skl_Label{
  text-align: left;
  display:inline-block;
  width:100%;
  float:left;
  color:#555;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5px;


}

.lesser{
  color: #555;
}

span.skl_Content{
  display:block;
  margin:0px 0px;
  padding-bottom:8px;

  width:100%;
}


.title{
  text-align: center;
}

h1,h2.abouttext{
  margin: 0px;
  padding: 0px;
  text-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.26);

  margin-left: 30px;
  margin-right: 10px;
}

h3.abouttext{
  text-align: center;
  margin: 5px 30px 5px 30px;
}

p.abouttext{
  font-family: "Open Sans", sans-serif;
  margin-left: 30px;
  margin-right:10px;
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 5px;
}

.projectstext {
  text-align: center;
  padding: 0px;
  color:white;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.26);
}

h1,h2.projectstext{
  margin: 0px;
  padding: 0px;
}

.contacttext{
  text-align: center;
  padding: 0px;
  color:white;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.26);
}

h1,h2.contacttext{
  margin: 0px;
  padding: 0px;
}

.anchor{
  display: block;
  height: 0px; 
  visibility: hidden;
}

.nav-right{
  float:right;
}




.left-section{
  width:50%;
  vertical-align: top;
  

}

.right-section{
  width: 50%;
  
  
}


hr.divider{
  margin:10px 10px 0 30px;
}

/*

3.0 Screen Width 

*/
@media screen and (max-width:680px) {

  p.skillset{
    padding-right:30px;
  }

  hr.divider{
    margin:10px 30px 0 30px;
  }

  .left-section{
    width: 100%;
    display:block;
  }

  .right-section h1,h2.abouttext{
    margin-right: 30px;
  }


  p.abouttext{
    margin-right:30px;
  }

  .right-section{
    width: 100%;
    display:block;
  }

  ul.mainnav.initial li.right-items{
    display:none;
  }

  ul.mainnav li.icon {
    float: right;
    display: inline-block;
  }
  /* Hidden Items */
  ul.mainnav {
    position: fixed;
  }

  ul.mainnav li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.mainnav div{
    width:100%;
  }

  ul.mainnav li.right-items {
    float: none;
    display: inline;
    opacity: 0;
    height: 0;

    animation-name: hide-frames;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  ul.mainnav li.right-items > a {
    opacity: 0;
    height: 0;

    animation-name: hide-frames;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  ul.mainnav li a {
    display: block;

  }



  ul.mainnav li a.dropdown {
    background-color: #555;
    text-align:center;
  }

  body {
    padding-top: 0px;
  }

  body {
    height: 0px; /*same height as header*/
  }

  /* Hidden Items End */

  ul.mainnav.show-items {
    position: fixed;
  }

  ul.mainnav.show-items li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.mainnav.show-items div{
    width:100%;
  }

  ul.mainnav.show-items li.right-items {
    float: none;
    display: inline;
    opacity: 0;
    height: 0;

    animation-name: show-frames;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  ul.mainnav.show-items li.right-items > a {
    opacity: 0;
    height: 0;

    animation-name: show-frames;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  ul.mainnav.show-items li a {
    display: block;

  }

  ul.mainnav.show-items li a.dropdown {
    background-color: #555;
    text-align:center;
  }

  body.show-items {
    padding-top: 0px;
  }
}

@keyframes show-frames{
  0%{
    opacity: 0;
    height:0;
    padding: 0;

  }
  40%{
    opacity: 0;
  }
  100%{
    opacity:1;
    height:20px;
  }

}

@keyframes hide-frames{
  0%{
    opacity: 1;
    height:20px;
  }
  60%{
    opacity: 0;
  }
  100%{

    opacity: 0;
    height:0;
    padding: 0;
  }

}



/* 

4.0 - Canvas  

*/

canvas {
  background:black;
  /*border: #000 1px solid;*/
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black,darkblue); 
  background: -o-linear-gradient(black,darkblue); 
  background: -moz-linear-gradient(black,darkblue); 
  background: linear-gradient(black,darkblue); 

}

canvas::selection { background: transparent;}



/* 

5.0 - Animated Links  

*/

a.link {
  padding: 16px;
  font-size:56pt;

}

a.link {
  text-align: center;
  display: inline-block;
  border-style: solid;



  padding: 0px;
  width: 90px;
  height: 90px;
  font-size: 60px;
  line-height: 90px;

  background-color: #FFFFFF;
  text-align: center;


  margin: 5px 5px;

  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: solid 3px black;
  z-index: 2;

  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}

p.links a#github i{
  color:#6e5494;
  text-shadow: 0.05em 0.08em 6px rgba(0, 0, 0, 0.26);
}

p.links a#github:hover i{
  color:white;
}

p.links a#linkedin i{
  color:#0077B5;
  text-shadow: 0.05em 0.08em 6px rgba(0, 0, 0, 0.26);
}

p.links a#linkedin:hover i{
  color:white;
}

p.links a#trailhead i{
  color:#1798c1;
  text-shadow: 0.05em 0.08em 6px rgba(0, 0, 0, 0.26);
}

p.links a#trailhead:hover i{
  color:white;
}

p.links a#codepen i{
  color:#555;
  text-shadow: 0.05em 0.08em 6px rgba(0, 0, 0, 0.26);
}

p.links a#codepen:hover i{
  color:white;
}

p.links a .fa {
	position: relative;
	color: #262626;
	transition: .5s;
	z-index: 3;
}

p.links a:hover .fa {
	color: #FFFFFF;
	transform: rotateY(360deg);
  font-size: 25px;

}

p.links a:hover{
  line-height: 20px;
}


p.links a:before {


	position: absolute;
	top: 100% ;
	left: 0% ;
	width: 100%;
	height: 100%;
	background-color: #FF0000;
	transition: .5s;
	z-index:2 ;

  line-height: 100px;
  font-size: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
}



p.links a:hover:before {
	top: 0 ;
}

p.links a#github:before {
	background-color:#6e5494 ;

	content: 'GitHub';

}

p.links a#codepen:before {
	background-color:#555 ;
	content: 'CodePen';

}
p.links a#linkedin:before {
	background-color:#0077B5 ;
	content: 'Linkedin';

}
p.links a#trailhead:before {
	background-color:#1798c1;
	content: 'trailhead';
}

p.links{
  text-align:center;
}



a.web{
  background-color:#5cb85c;
  border-color:#4cae4c;
  color:white;
}

a.languages{
  background-color:#337ab7;
  border-color:#2e6da4;
  color:white;
}

a.salesforce{
  background-color:#f0ad4e;
  border-color:#eea236;
  color:white;
}

a.design{
  background-color:#5bc0de;
  border-color:#46b8da;
  color:white;
}

/* 

6.0 - Interests  

*/

.interests{
  margin:16px 40px 10px 40px;
  text-align:center;
}

.interests a{
  box-shadow: 1px 3px 10px gray;
  color:deeppink;
  display: inline-block; 
  padding: 0px;
  width: 50px;              
  height: 50px;
  font-size: 30px; 
  
  border: solid 2px deeppink;

  
  background-color: #FFFFFF;        
  text-align: center; 
            
            
  margin: 2.5px 2.5px;            
  
  border-radius: 20%; 
  position: relative;
  overflow: hidden;

  z-index: 2;
  
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.interests a.cinterest{
  line-height: 60px;
}

.interests a.interest{
  line-height: 50px;
}



/* 

7.0 - Portfolio Grid  

*/



.grid-container{
  display:block;
  padding:20px;
}

.grid-row{
  display:table;
  margin:auto;
  text-align:center;
  max-width: 1200px;
  width: calc(20vw*3 + 120px);
}

.grid-item{
  display:inline-block;
  background:black;
  
  margin:15px;
  border-radius: 5px;
  
  
  width:20vw;
  height:20vw;
  max-width: 350px;
  max-height:350px;
  min-width: 290px;
  min-height:290px;

  box-shadow: 0px 10px 20px black;

  vertical-align: center;
  overflow:hidden;
  position:relative;

  border: 2px solid violet;

}

.grid-item span.skills-used{
  position:absolute;
  padding-top:10px;
  width:100%;
  left:0;
}

.grid-item span.skills-used a:nth-child(1){
  transform:translateY(-100px);

  -moz-transition: all .6s ease-in-out .2s;
  -o-transition: all .6s ease-in-out .2s;
  -webkit-transition: all .6s ease-in-out .2s;
  transition: all .6s ease-in-out .2s;
}

.grid-item span.skills-used a:nth-child(2){
  transform:translateY(-100px);

  -moz-transition: all .6s ease-in-out .3s;
  -o-transition: all .6s ease-in-out .3s;
  -webkit-transition: all .6s ease-in-out .3s;
  transition: all .6s ease-in-out .3s;
}

.grid-item span.skills-used a:nth-child(3){
  transform:translateY(-100px);

  -moz-transition: all .6s ease-in-out .4s;
  -o-transition: all .6s ease-in-out .4s;
  -webkit-transition: all .6s ease-in-out .4s;
  transition: all .6s ease-in-out .4s;
}

.grid-item span.skills-used a:nth-child(4){
  transform:translateY(-100px);

  -moz-transition: all .6s ease-in-out .5s;
  -o-transition: all .6s ease-in-out .5s;
  -webkit-transition: all .6s ease-in-out .5s;
  transition: all .6s ease-in-out .5s;
}

.grid-item span.skills-used a:nth-child(5){
  transform:translateY(-100px);

  -moz-transition: all .6s ease-in-out .6s;
  -o-transition: all .6s ease-in-out .6s;
  -webkit-transition: all .6s ease-in-out .6s;
  transition: all .6s ease-in-out .6s;
}

.grid-item span.skills-used a:nth-child(6){
  transform:translateY(-100px);

  -moz-transition: all .6s ease-in-out .7s;
  -o-transition: all .6s ease-in-out .7s;
  -webkit-transition: all .6s ease-in-out .7s;
  transition: all .6s ease-in-out .7s;
}

.grid-item span.skills-used a:nth-child(7){
  transform:translateY(-100px);

  -moz-transition: all .6s ease-in-out .8s;
  -o-transition: all .6s ease-in-out .8s;
  -webkit-transition: all .6s ease-in-out .8s;
  transition: all .6s ease-in-out .8s;
}

.grid-item:hover span.skills-used a:nth-child(1){
  transform:translateY(0px);
}

.grid-item:hover span.skills-used a:nth-child(2){
  transform:translateY(0px);
}

.grid-item:hover span.skills-used a:nth-child(3){
  transform:translateY(0px);
}

.grid-item:hover span.skills-used a:nth-child(4){
  transform:translateY(0px);
}
.grid-item:hover span.skills-used a:nth-child(5){
  transform:translateY(0px);
}
.grid-item:hover span.skills-used a:nth-child(6){
  transform:translateY(0px);
}
.grid-item:hover span.skills-used a:nth-child(7){
  transform:translateY(0px);
}

.grid-item span.short-detail{

  width:calc(100% - 20px);
  display:block;
  position:absolute;
  bottom:0;
  text-align:center;
  padding:10px;

  background:violet;
  color:white;
  font-family: "Montserrat", sans-serif;

  transform:translateY(100px);


  -moz-transition: all .6s ease-in-out .2s;
  -o-transition: all .6s ease-in-out .2s;
  -webkit-transition: all .6s ease-in-out .2s;
  transition: all .6s ease-in-out .2s;
}

.grid-item:hover span.short-detail{
  transform:translateY(0px);
}





.grid-item a.moreinfo{
  width:100%;
  display:block;
  position:absolute;
  
  text-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.66);
  color:white;
  

  /* animated properties */
  top:45%;
  font-size:200%;
  opacity:0;

  -moz-transition: all .6s ease-in-out .2s;
  -o-transition: all .6s ease-in-out .2s;
  -webkit-transition: all .6s ease-in-out .2s;
  transition: all .6s ease-in-out .2s;
}


.grid-item:hover a.moreinfo{
  /* animated properties */
  top:20%;
  font-size:900%;
  opacity:0.8;
  transform: rotateY(360deg);
}



.grid-item .filter{
  position:absolute;
  width:100%;
  height:100%;
  background:black;

  opacity:0;

  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.grid-item:hover .filter{
  opacity:0.5;
}


.media-container{

  position:absolute;
  height:100%;
  width:100%;

  animation-name: vidzoomout;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  
}

.grid-item:hover .media-container{
  position:absolute;
  left:-20%;
  top:-20%;
  height:140%;
  width:140%;


  animation-name: vidzoomin;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.media-container video{
  width:100%;height:100%;
}


.media-container img{
  width:100%;
}

div#bmo{
  background:rgb(22,166, 185);
}


@keyframes vidzoomin{
  0%{
    height:100%;
    width:100%;
    top:0;
    left:0;
  }
  70%{
    height:150%;
    width:150%;
    left:-25%;
    top:-25%;
  }
  100%{
    height:140%;
    width:140%;
    left:-20%;
    top:-20%;
  }
}


@keyframes vidzoomout{
  0%{
    height:140%;
    width:140%;
    left:-20%;
    top:-20%;
  }
  70%{
    height:90%;
    width:90%;
    top:5%;
    left:5%;
  }

  100%{
    height:100%;
    width:100%;
    top:0;
    left:0;

  }

}

a.skill2{
  display:inline-block;
  font-size:10px;
  
}

@media screen and (max-width:680px) {
  .grid-item{
    width:90vw;
    height:90vw;
    min-width: 50px;
    min-height:50px;
  }
}

@media screen and (max-width:866px) {
  .grid-item{
    width:90vw;
    height:90vw;
    min-width: 50px;
    min-height:50px;
  }
}

@media screen and (max-width:290px) {
  .grid-item a.moreinfo{
    /* animated properties */
    top:45%;
    font-size:200%;
    opacity:0;

  }

  .grid-item:hover a.moreinfo{
    /* animated properties */
    top:15%;
    font-size:800%;
    opacity:0.8;
  }
}





.left-det{


}

.right-det{
   padding:10px;
}